em {
    float: right; 
    color: #E05C65; 
    padding-left: 10px;
}

.error input, .error select, .error textarea {
    background-color: #E3C365;
}

.error ::-webkit-input-placeholder {
    color: #999;
}

.error ::-moz-placeholder {
    color: #999;
}

.error :-moz-placeholder {
    color: #999;
}

.error :ms-input-placeholder {
    color: #999;
}